<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44469445106-9g4rlolia58ucd6hnns45kruipioaqvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44469445106-9g4rlolia58ucd6hnns45kruipioaqvq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLToslwNuH7I_2iJwVmbGaHwBaVIGvnZI</string>
	<key>GCM_SENDER_ID</key>
	<string>44469445106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.esgi.smartcaseflutter</string>
	<key>PROJECT_ID</key>
	<string>smartcase-5752e</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcase-5752e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44469445106:ios:26fc3b4b20a2ee014f0b6b</string>
	<key>DATABASE_URL</key>
	<string>https://smartcase-5752e.firebaseio.com</string>
</dict>
</plist>